.tooltip {
  position: absolute;
  text-align: left;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  pointer-events: none;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tooltip-table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
}

.tooltip-table td, .tooltip-table th {
  padding: 8px;
  border: 1px solid #ddd;
}

.tooltip-table .header-row {
  background-color: #f2f2f2;
}

.tooltip-table .header-row th {
  text-align: center;
}

.tooltip-table tr:nth-child(even) {
  background-color: #f9f9f9;
}


.scene-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.scene-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.scene-button.active {
    background-color: #4CAF50;
    color: white;
    border-color: #45a049;
}

.scene-button:hover:not(.active) {
    background-color: #e0e0e0;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.nav-button:hover:not(:disabled) {
    background-color: #007B9A;
}

.nav-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#player-stats-table {
    max-height: 400px;
    overflow-y: auto;
}

#player-stats-table .player-name-cell {
  min-width: 100px;  /* Adjust this value as needed */
  max-width: 1800px;  /* Adjust this value as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.scene1-notes, .scene2-notes, .scene3-notes {
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-left: 30px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 20px;
  text-align: left;
  position: static;
  top: auto;
  left: auto;
}

.scene1-notes:hover, .scene2-notes:hover, .scene3-notes:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#bar-chart {
  font-family: Arial, sans-serif;
}

.radio-container {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metric-label {
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

.radio-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-buttons-container label {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.radio-buttons-container label:hover {
  background-color: #e6e6e6;
}

.radio-buttons-container input[type="radio"] {
  display: none;
}

.radio-buttons-container input[type="radio"]:checked + span {
  font-weight: bold;
}

.radio-buttons-container input[type="radio"]:checked + span::before {
  content: '•';
  margin-right: 5px;
  color: #007bff;
}

.radio-buttons-container label.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.radio-buttons-container label.selected:hover {
  background-color: #0056b3;
}

/* Tooltip styles */
.radio-buttons-container label {
  position: relative;
}

.radio-buttons-container label:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.radio-buttons-container label:hover::after {
  opacity: 1;
}