.tooltip {
  position: absolute;
  text-align: left;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  pointer-events: none;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tooltip-table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
}

.tooltip-table td, .tooltip-table th {
  padding: 8px;
  border: 1px solid #ddd;
}

.tooltip-table .header-row {
  background-color: #f2f2f2;
}

.tooltip-table .header-row th {
  text-align: center;
}

.tooltip-table tr:nth-child(even) {
  background-color: #f9f9f9;
}